.sidebar-contato {
  position: absolute;

  inset: 0;

  background: var(--bg-white);

  border: 1px solid var(--color-border);

  border-radius: 16px;

  padding: 25px;

  z-index: 20;

  opacity: 0;
  visibility: hidden;

  transform: translateX(30px);

  transition: 0.3s;

  & .header-sidebar-contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    & i {
      color: red;
      cursor: pointer;
    }
  }

  & .list-contato {
    color: var(--text-gray);

    & p {
      margin-bottom: 10px;
    }
  }
}

.sidebar-contato.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
